{
  "name": "{{ project_slug }}",
  "module": "src/index.ts",
  "type": "module",
  "private": true,
  "scripts": {
    "dev": "wrangler dev",
    "deploy": "wrangler deploy",
    "typecheck": "tsc --noEmit",
    "cf-typegen": "wrangler types",
    "auth:generate": "better-auth generate --config ./better-auth.config.ts --output ./src/db/schema.ts -y",
    "db:generate": "drizzle-kit generate",
    "db:migrate:local": "wrangler d1 migrations apply {{ d1_database_name }} --local",
    "db:migrate:remote": "wrangler d1 migrations apply {{ d1_database_name }} --remote",
{%- if enable_preview_env %}
    "db:migrate:remote:preview": "wrangler d1 migrations apply {{ d1_database_name }}-preview --remote --env preview",
{%- endif %}
    "ci:build": "bun install && bun install --cwd web && cd web && bun run build && cd .. && bun run db:migrate:remote",
    "ci:build:preview": "bun install && bun install --cwd web && cd web && bun run build{% if enable_preview_env %} && cd .. && bun run db:migrate:remote:preview{% endif %}"
  },
  "devDependencies": {
    "@better-auth/cli": "^1.4.21",
    "@types/better-sqlite3": "^7.6.13",
    "@types/bun": "latest",
    "better-sqlite3": "^12.9.0",
    "drizzle-kit": "^0.31.10",
    "wrangler": "^4.85.0"
  },
  "peerDependencies": {
    "typescript": "^5"
  },
  "dependencies": {
    "better-auth": "^1.6.5",
    "drizzle-orm": "^0.45.2",
    "hono": "^4.12.14"
  }
}
